<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>After Hours Services</title>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Bootstrap Minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- MMN Favicon -->
    <link rel="shortcut icon" href="https://mastermedical.net/wp-content/uploads/2017/08/favicon_big.png">
    <!-- Special Font -->
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <!-- Font awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="https://mastermedical.net/wp-content/uploads/2017/08/favicon_big.png">
<!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="nav-container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://mastermedical.net/"><img src="/img/MasterMedica_logo_L_220.png" alt="MMNLogo"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            {{#if user}}
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/page1">Page 1</a></li>
            <li><a href="/page2">Page 2</a></li>
            <li><a href="/page3">Page 3</a></li>
            <li><a href="/page4">Page 4</a></li>
            <li><a href="/page5">Page 5</a></li>
            {{/if}}
            <li><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if user}}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {{else}}
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </div>


    <!-- Jumbotron for Heading -->
    <div class="jumbotron jumbotron-fluid">
      <h1 style="color:#2799d2" class="">After <b style="color: rgb(42, 79, 233);">Hours</b> Services</h1>
      <p class="heading">The Go-To Source for Telehealth Solutions</p>
    </div>

    <!-- <h2>{{messages.warning}}</h2> -->

    <!-- .container is main centered wrapper -->
    <div class="container">

        {{{body}}}

    </div>
    <div class="footer">
      <!-- Bottom Company Logo - Right Aligned -->
      <div class="col-md-4">
        <h6>© 2017-Master Medical Network LLC</h6>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="company-logo">
          <img class="img-responsive" src="img/MasterMedica_logo_L_220.png" alt="MMNLogo">
        </div>
      </div>
    </div

  </body>
</html>
