{{#if messages.info}}
<div class="message">
    {{messages.info}}
</div>
{{/if}}

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <p class="paragraph">
      We Do Not Recognize Your User Name or Password Click here if you have
      forgotten your <a href="#">password</a> Click here if you have forgotten your <a href="#">user-name</a>
      Please Contact Us By SMS or Tel 1 ### ###-#### if you have other issues
      logging in
    </p>
  </div>
  <div class="col-md-3"></div>
</div>
