{{#if messages.info}}
<div class="message">
    {{messages.info}}
</div>
{{/if}}

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <p class="content-paragraph">
      <a href="#">Click here</a> to connect to Your Provider Group
    </p>
    <br>
      <p class="content-paragraph">
       Your Credit Card ending in 9999 Will Be Charged Your Agreed Upon Fee
    </p>
  </div>
  <div class="col-md-3"></div>
</div>
